@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booster-zero";
    src: url("resources\fonts\Booster.woff") format("woff"),
         url("resources\fonts\Booster.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    font-family: Raleway;
}

body{
    -webkit-font-smoothing: antialiased;
}

#main-content {
    display: flex;
    max-width: 40px;
    height: 40px;
    background: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}
  
svg {
    cursor: pointer;
    overflow: visible;
    width: 60px;
}
svg #heart {
    transform-origin: center;
    animation: animateHeartOut 0.3s linear forwards;
}
svg #main-circ {
    transform-origin: 29.5px 29.5px;
}
  
#checkbox {
    display: none;
}
  
#checkbox:checked + label svg #heart {
    transform: scale(0.2);
    fill: #e2264d;
    animation: animateHeart 0.3s linear forwards 0.25s;
}
#checkbox:checked + label svg #main-circ {
    transition: all 2s;
    animation: animateCircle 0.3s linear forwards;
    opacity: 1;
}
#checkbox:checked + label svg #grp1 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp1 #oval1 {
    transform: scale(0) translate(0, -30px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp1 #oval2 {
    transform: scale(0) translate(10px, -50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp2 #oval1 {
    transform: scale(0) translate(30px, -15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 #oval2 {
    transform: scale(0) translate(60px, -15px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp3 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp3 #oval1 {
    transform: scale(0) translate(30px, 0px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp3 #oval2 {
    transform: scale(0) translate(60px, 10px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp4 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp4 #oval1 {
    transform: scale(0) translate(30px, 15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp4 #oval2 {
    transform: scale(0) translate(40px, 50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp5 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp5 #oval1 {
    transform: scale(0) translate(-10px, 20px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp5 #oval2 {
    transform: scale(0) translate(-60px, 30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp6 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp6 #oval1 {
    transform: scale(0) translate(-30px, 0px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp6 #oval2 {
    transform: scale(0) translate(-60px, -5px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp7 {
    opacity: 1;
    transition: 0.1s all 0.3s;
}
#checkbox:checked + label svg #grp7 #oval1 {
    transform: scale(0) translate(-30px, -15px);
    transform-origin: 0 0 0;
    transition: 0.5s transform 0.3s;
}
#checkbox:checked + label svg #grp7 #oval2 {
    transform: scale(0) translate(-55px, -30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform 0.3s;
}
#checkbox:checked + label svg #grp2 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp3 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp4 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp5 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp6 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}
#checkbox:checked + label svg #grp7 {
    opacity: 1;
    transition: 0.1s opacity 0.3s;
}
  
@keyframes animateCircle {
    40% {
        transform: scale(10);
        opacity: 1;
        fill: #dd4688;
    }
    55% {
        transform: scale(11);
        opacity: 1;
        fill: #d46abf;
    }
    65% {
        transform: scale(12);
        opacity: 1;
        fill: #cc8ef5;
    }
    75% {
        transform: scale(13);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0.5;
    }
    85% {
        transform: scale(17);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0.2;
    }
    95% {
        transform: scale(18);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0.1;
    }
    100% {
        transform: scale(19);
        opacity: 1;
        fill: transparent;
        stroke: #cc8ef5;
        stroke-width: 0;
    }
}
@keyframes animateHeart {
    0% {
        transform: scale(0.2);
    }
    40% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes animateHeartOut {
    0% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header{
    position: absolute;
}

#header h1{
    font-size: 90px;
    color: white;
    font-family: "Metal Mania";
    font-weight: normal;
}

#header-img{
    width: 100%;
    height: 250px;
}

.albums, .merch, .cart{
    max-width: 700px;
    margin: 20px auto 20px;
    text-align: center;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    outline: 0;
    border: 0;
    margin: 40px auto 15px auto;
    font-size: 1.75em;
    background: #3d83df;
    padding: .1em 1.5em;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: .3em;
}

.albums h1, .merch h1, .cart h1 {
    font-family: "Metal Mania";
    font-weight: 500;
    letter-spacing: .05em;
}

.album-content, .merch-content{
    margin: 50px auto;
}

.add-cart{
    margin: auto;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
}

.add-cart p{
    color: #333;
    margin-top: 5px;
}

.add-cart button{
    outline: 0;
    border: 0;
    height: 30px;
    border-radius: 4px;
    background: #3d83df;
    font-weight: 700;
    letter-spacing: .05em;
    color: #fff;
    font-size: .625rem;
    text-align: center;
    transition: all .2s ease 0s;
    padding: .1em 1.5em;
}

.add-cart button:hover, .btn-purchase:hover{
    background-color: #2D9CDB;
}


.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}


.band-name {
    text-align: center;
    margin-left: 10px;
    font-size: 4em;
    font-family: "Metal Mania";
    font-weight: normal;
    color: white;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-footer {
    max-width: 700px;
    margin: auto;
    background-color: #3d83df;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

